<meta charset="utf-8">

<title>About me</title>

<html>
<body>
    <a href="/">to main</a>
    <h1>ME</h1>
    <!--<form action="/edit_me" method="get">
        <input type="submit" value="Edit">
    </form>-->
    <h2>{{ name }}</h2>
    <div>email: {{ email }}</div>
    <h3>About</h3>
    <div>{{ description }}</div>
	<h3>CV info:</h3>
	<h4>Name:</h4>
	<div>{{ cv_name }}</div>
	<h4>Profession:</h4>
	<div>{{ Profession }}</div>
	<h4>Projects: </h4>
    {% for p in projects %}
		<div>{{p['name']}}</div>
    {% endfor %}
</body>
</html>
